/* CSS Document */
			body {
					max-width:890px;
					margin:0 auto;
					height:auto;
					background-color:#376;
			}
		
		header {
				width:100%;
				height:11.25em;
		}
		
		header img {
				width:100%;
				height:100%;
				/* height:11.25em; */
		}
		
		nav { 
				width:100%;
				height:2.125em;
				background-color:#F90;
		}
		
		nav a {
				color:#FFF;
				font-weight:bold;
				font-size:1em;
				text-decoration:none;
				width:14%;
				height:1.875em;
				text-align:center;
				float:left;
				line-height:2.25em;
		}
		
		nav a:hover {
				color:#F36;
				background-color:#FFC;
		}

		article { 
				width:69.7%;
				/* min-height:395px; */
				float:left;
				background-color:#669966;	
		}
		
		article #content {
				width:100%;	
				height:auto;
				float:left;
				padding-right:3.2%;
				padding-bottom:2.8%;
				background-color:#669966;
		}
		
		article #content div { 
				width:29%;
				background-color:#FFFFFF;
				float:left;
				margin-top:3.2%;
				margin-left:3.2%;
		}
		
		article #content div img { 
				width:80%;
				height:9.375em;
		}
		
		article #content div p {
				color:#00F;
				text-align:center;
				margin:0px;
				font-size:80%;	
		}		
		
		article #content div p del {
				color:#666;
		}

		aside { 
				color:#FFF;
				width:30.3%;
				min-height:24.6875em;
				float:right;
				background-color:#456;	
		}
		
		aside #sidebar {
				padding: 0.5em 1em;
				font-size: 85%;
		}
		
		footer {
				clear:both;	
				width:100%;
				height:11.25em;
				color:#FFF;	
				font-size: 85%;
				padding:0.5em 0 0 0;
				background-color:#366;
		}
		
		/* Responsive */	
		@media screen and (max-width: 768px) {
			body { width:100%;}
			header { width:100%; height:8.125em; }
			nav { width:100%; height:1.875em; }
			nav a { width:18%; font-size:0.9em; line-height:2.1em; }
			article { width:100%; height:auto; float:none; }
			article #content { padding-right:0%; }
			article #content div img { width:80%; height:auto; }
			aside { width:100%; height:auto; float:none; }
			aside #sidebar { font-size: 80%; }
			footer { height:8.125em; font-size: 80%;}
		}
		
		@media screen and (max-width: 480px) {
			body { width:100%;}
			header { width:100%; height:5.25em; }
			nav { width:100%; height:1.75em; }
			nav a { width:18%; font-size:0.8em; line-height:2.4em; }
			article { width:100%; height:auto; float:none; }
			article #content { padding-right:0%; }
			article #content div img { width:80%; height:auto; }
			aside { width:100%; height:auto; float:none; }
			aside #sidebar { font-size: 75%; }
			footer { height:5.25em; font-size: 75%; }
		}



